<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
            详细信息
            <thead>
                <th> 姓名 </th>
                <th> 电话 </th>
                <th> 邮箱 </th>
                <th> QQ </th>
                <th> 注册时间 </th>
            </thead>
            <tbody>
                <th><%= info.name %></th>
                <th><%= info.cell %></th>
                <th><%= info.email %></th>
                <th><%= info.qq %></th>
                <th><%= info.reg_time %></th>
            </tbody>
            <a href="/">返回</a>
        </table>
</body>
</html>